language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t omarsafwany/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true omarsafwany/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "eu-central-1"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-eu-central-1-541136898027"
  bucket_path: "docker"
  on:
    branch: master
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
